# Computer file-system
## macOS
.DS_Store

# Code styles
## ESLint
.eslintcache

# Package Manager
## NPM
node_modules/
## Yarn (https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Built packages
packages/*/dist/

# Testing
## Coverage
coverage
