{
  "printWidth": 80,
  "semi": false,
  "trailingComma": "all",

  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["lerna.json"],
      "options": {
        "parser": "json-stringify"
      }
    }
  ]
}
